
.receipt-list{
    /* background-color: aqua; */
    font-size: 20px;
}

.receipt-list td{
    /* background-color: aqua; */
    text-align: center;
}

.receipt-list th, tr, td{
    border: 0.5px solid black
}

#result {
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
}

.PN-rows td, th{
    padding: 1%;
}

.PN-rows:hover{
    background-color: rgb(224, 224, 224);
}

/* Thim PN */
.btn-add{
    padding: 0.5%;
    font-size: 15px;
}
.addReceipt-popup{
    position: absolute;
    z-index: 10;
    background-color: rgb(82, 82, 82);

    width: 110%;
    height: 110vh;
    top: -10%;
    left: -10%;
    padding: 1%;
    align-items: center;
    /* display: none; */
    visibility: hidden;

}
.addreceipt-form{
    /* align-items: left;*/
    display: block;
    /* text-align: center; */
    background-color: rgb(255, 252, 246);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    width: 80%;
    height: 80%;
    position: relative;
    top: 15%;
    left: 15%;
    border-radius: 5px;
}

.addreceipt-form h2{
    text-align: center;
}

.open-addreceipt{
    visibility: visible;
}
.addReceipt-popup h1{
    text-align: center;
}

.addReceipt-popup label{
    align-self: center;
    padding: 1%;
    margin: 0.5%;
}
#input-receipt{
    display: flex;
}
#input-receiptinfo{
    width: 30%;
    background-color: aqua;
}
#input-receiptdetail{
    width: 70%;
    background-color: aquamarine;
    /* display: flex; */
}

#btn-addSP{
    position: absolute;
}

/* Chỗ hiện sản phẩm ra */
#scrollView-SP{
    overflow:scroll; 
    height: 350px;
    border: 1px solid black;
    overflow-x: hidden;
    overflow-y: auto;
}

.item{
    height: 25%;
    display: flex;
    padding: 1%;
    border: 1px solid black ;
    margin: 1%;
    /* background-color: aqua; */
}
.item img{
    width: 10%;
    height: 100%;
    align-self: center;
}
.item p{
    width: 20%;
    align-self: center;
}
.action-item{
    display: flex;
    width: 45%;
    height: 55%;
    align-items: center;
    align-self: center;
    text-align: center;
}

.action-item button{
    width: 5%;
}

.btn-delete{
    float: right;
    width: 5%;
    height: 50%;
    align-self: center;
}
/* Chỗ hiện sản phẩm ra */

/* thành tiền */
.thanhtien{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}
.thanhtien p{
    font-size: 23px;
    margin-left: 75%;
}
#thanhtien-sp{
    font-weight: bold;
    margin-left: 1%;
    color: red;
}
/* thành tiền */
/* Thim PN */

/* Show SP */
.name-sp{
    display: flex;
    padding: 0.5%;
}
.name-sp p{
    padding: 5%;
}
.img-sp{
    width: 75px;
    height: 75px;
    align-self: center;
}

.receiptDetail-form{
    display: block;
    /* align-items: left;*/
    text-align: center;
    background-color: #fffcf6;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    width: 83%;
    height: 90%;
    position: relative;
    border-radius: 10px;
}

.open-receiptDetail{
    visibility: visible;
    top: 55%;
    left: 58%;
    transform: translate(-50%, -50%) scale(1);
}

#close-receiptdetail{
    width: 45px;
    height: 45px;
    border-width: 0px ;
    border-radius: 15%;
    position: absolute;
    margin-top: -8%;
    margin-left: 47%;
    background-color: red;
    color: white;
    font-size: 20px;

}
/* Show SP */

/* Modal đen thui */
.modal{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.open-modal{
    display: block;
}

/* Ấy cái popup thêm sản phửm */
.addproduct-container{
    background-color: antiquewhite;
    position: absolute;
    width: 70%;
    height: 60%;
    top: 15%;
    left: 15%;
    padding: 1%;
    border-radius: 15px;
    visibility: hidden;
}

.open-addproduct{
    visibility: visible;
}
